$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}
.btn {
  border-radius: 5px;
}
.flex {
  display: flex;
}
.inline-demo {
  background: url('./a.png?__inline');
}
